.MyPosts{
    padding-left: 20px;
    max-width: 100%;
    
    text-align: center;
    
    float: left;
    width: 500px;
}
.textInput{
    width: 100%;
    height: 50px;
}
.button{
    float: right;
}
.addPost{
    text-align: left;
    
}