.nav {
    border-radius: 6px;
    text-align: center;
    background-color: burlywood;
    grid-area: nav;

}
.Navigate{

    padding-left: 70px;
    padding-top: 20px;
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: left;
    
}
.item a{
    color: white;
    text-decoration: none;

}
.item a:hover{
    color: rgb(241, 136, 136);
    text-decoration: none;

}
.item a.active{
    color: rgb(241, 136, 136);
    text-decoration: none;

}

