
.ProfileImg{
    position: static;
    width: 100%;
    border-radius: 6px;
}
.Profile{
  
    text-align: left;
    width: 100%;
    

}
.ProfileInfo{
    
    padding-left: 20px;
    float: left;
    width: 100%;
}
.Notification{
    padding-top: 20px;
    padding-left: 50px;
    float: left;
}

.profilePhoto{
    
    padding-top: 0px;
    border-radius: 50px;
    width: 20%;
    float: left;

}
.Name{
    padding-left: 40px;
    text-align: left;
}

.Profile ul li{
    list-style: none;
}

