.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1170px;
  grid-template-areas:
          "h h"
          "nav content";

    grid-template-rows: 1fr 10fr;
    grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

}

.header {
    grid-area: h;
    background-color: black;
}

.nav {
    text-align: center;
    background-color: burlywood;
    grid-area: nav;

}
.Navigate{
    padding-left: 70px;
    padding-top: 20px;
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: left;
}

.content {
    background: aqua;
    grid-area: content;
}
.content img{
  width: 100%;
}
.Profile{
    text-align: left;
  width: 100%;
  height:300px;

}
.ProfileInfo{

  float: left;
  width: 70%;
}
.profilePhoto{

  width: 30%;
  float: left;
  
}
.Name{
    padding-left: 40px;
    text-align: left;
}
.MyPost{
 text-align: center;
}
.Profile ul li{
       list-style: none;
}