.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1170px;
  grid-template-areas:
          "h h"
          "nav content";

    grid-template-rows: 1fr 10fr;
    grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

}

.app-wrapper-content{
  
 border-radius: 6px;
grid-area: content;

background-color: cadetblue;

}





