.sidebar{
    
    padding-top: 150px;
}

.sidebar a{
    color: white;
    text-decoration: none;
    
}

.sidebar a:hover{
    color: rgb(241, 136, 136);
    text-decoration: none;
}
.sidebar a.active{
    color: rgb(241, 136, 136);
    text-decoration: none;

}

.profilearea{
    opacity: 0.8;
    height: 200px;
    border: 2px solid grey;
    border-radius: 6px;
    background-color: rgb(144, 185, 219);
    padding-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 4px;
}